[Desktop Entry]
Name=Shogidokoro
GenericName=Shogidokoro
Comment=Shogidokoro
Exec=bash -c "cd /home/viny/Applications/Shogidokoro && GTK_DATA_PREFIX= mono Shogidokoro.exe"
Terminal=false
Type=Application
StartupNotify=true
Categories=Game;BoardGame;
